In [24]:
import pandas as pd
import numpy as np
import collections as co
from scipy import stats
import matplotlib.pylab as plt 
%matplotlib inline

In [165]:
# read in all files
fy14_ak = pd.read_csv('fy14_ak.csv')
fy14_al = pd.read_csv('fy14_al.csv')
fy14_ar = pd.read_csv('fy14_ar.csv')
fy14_az = pd.read_csv('fy14_az.csv')
fy14_ca = pd.read_csv('fy14_ca.csv')
fy14_co = pd.read_csv('fy14_co.csv')
fy14_ct = pd.read_csv('fy14_ct.csv')
fy14_dc = pd.read_csv('fy14_dc.csv')
fy14_de = pd.read_csv('fy14_de.csv')
fy14_fl = pd.read_csv('fy14_fl.csv')
fy14_ga = pd.read_csv('fy14_ga.csv')
fy14_gu = pd.read_csv('fy14_gu.csv')
fy14_hi = pd.read_csv('fy14_hi.csv')
fy14_ia = pd.read_csv('fy14_ia.csv')
fy14_id = pd.read_csv('fy14_id.csv')
fy14_il = pd.read_csv('fy14_il.csv')
fy14_in = pd.read_csv('fy14_in.csv')
fy14_ks = pd.read_csv('fy14_ks.csv')
fy14_ky = pd.read_csv('fy14_ky.csv')
fy14_la = pd.read_csv('fy14_la.csv')
fy14_ma = pd.read_csv('fy14_ma.csv')
fy14_md = pd.read_csv('fy14_md.csv')
fy14_me = pd.read_csv('fy14_me.csv')
fy14_mi = pd.read_csv('fy14_mi.csv')
fy14_mn = pd.read_csv('fy14_mn.csv')
fy14_mo = pd.read_csv('fy14_mo.csv')
fy14_ms = pd.read_csv('fy14_ms.csv')
fy14_mt = pd.read_csv('fy14_mt.csv')
fy14_nc = pd.read_csv('fy14_nc.csv')
fy14_nd = pd.read_csv('fy14_nd.csv')
fy14_ne = pd.read_csv('fy14_ne.csv')
fy14_nh = pd.read_csv('fy14_nh.csv')
fy14_nj = pd.read_csv('fy14_nj.csv')
fy14_nm = pd.read_csv('fy14_nm.csv')
fy14_nv = pd.read_csv('fy14_nv.csv')
fy14_ny = pd.read_csv('fy14_ny.csv')
fy14_oh = pd.read_csv('fy14_oh.csv')
fy14_ok = pd.read_csv('fy14_ok.csv')
fy14_or = pd.read_csv('fy14_or.csv')
fy14_pa = pd.read_csv('fy14_pa.csv')
fy14_pr = pd.read_csv('fy14_pr.csv')
fy14_ri = pd.read_csv('fy14_ri.csv')
fy14_sc = pd.read_csv('fy14_sc.csv')
fy14_sd = pd.read_csv('fy14_sd.csv')
fy14_tn = pd.read_csv('fy14_tn.csv')
fy14_tx = pd.read_csv('fy14_tx.csv')
fy14_ut = pd.read_csv('fy14_ut.csv')
fy14_va = pd.read_csv('fy14_va.csv')
fy14_vt = pd.read_csv('fy14_vt.csv')
fy14_wa = pd.read_csv('fy14_wa.csv')
fy14_wi = pd.read_csv('fy14_wi.csv')
fy14_wv = pd.read_csv('fy14_wv.csv')
fy14_wy = pd.read_csv('fy14_wy.csv')

#fy15
fy15_ak = pd.read_csv('fy15_ak.csv')
fy15_al = pd.read_csv('fy15_al.csv')
fy15_ar = pd.read_csv('fy15_ar.csv')
fy15_az = pd.read_csv('fy15_az.csv')
fy15_ca = pd.read_csv('fy15_ca.csv')
fy15_co = pd.read_csv('fy15_co.csv')
fy15_ct = pd.read_csv('fy15_ct.csv')
fy15_dc = pd.read_csv('fy15_dc.csv')
fy15_de = pd.read_csv('fy15_de.csv')
fy15_fl = pd.read_csv('fy15_fl.csv')
fy15_ga = pd.read_csv('fy15_ga.csv')
fy15_gu = pd.read_csv('fy15_gu.csv')
fy15_hi = pd.read_csv('fy15_hi.csv')
fy15_ia = pd.read_csv('fy15_ia.csv')
fy15_id = pd.read_csv('fy15_id.csv')
fy15_il = pd.read_csv('fy15_il.csv')
fy15_in = pd.read_csv('fy15_in.csv')
fy15_ks = pd.read_csv('fy15_ks.csv')
fy15_ky = pd.read_csv('fy15_ky.csv')
fy15_la = pd.read_csv('fy15_la.csv')
fy15_ma = pd.read_csv('fy15_ma.csv')
fy15_md = pd.read_csv('fy15_md.csv')
fy15_me = pd.read_csv('fy15_me.csv')
fy15_mi = pd.read_csv('fy15_mi.csv')
fy15_mn = pd.read_csv('fy15_mn.csv')
fy15_mo = pd.read_csv('fy15_mo.csv')
fy15_ms = pd.read_csv('fy15_ms.csv')
fy15_mt = pd.read_csv('fy15_mt.csv')
fy15_nc = pd.read_csv('fy15_nc.csv')
fy15_nd = pd.read_csv('fy15_nd.csv')
fy15_ne = pd.read_csv('fy15_ne.csv')
fy15_nh = pd.read_csv('fy15_nh.csv')
fy15_nj = pd.read_csv('fy15_nj.csv')
fy15_nm = pd.read_csv('fy15_nm.csv')
fy15_nv = pd.read_csv('fy15_nv.csv')
fy15_ny = pd.read_csv('fy15_ny.csv')
fy15_oh = pd.read_csv('fy15_oh.csv')
fy15_ok = pd.read_csv('fy15_ok.csv')
fy15_or = pd.read_csv('fy15_or.csv')
fy15_pa = pd.read_csv('fy15_pa.csv')
fy15_pr = pd.read_csv('fy15_pr.csv')
fy15_ri = pd.read_csv('fy15_ri.csv')
fy15_sc = pd.read_csv('fy15_sc.csv')
fy15_sd = pd.read_csv('fy15_sd.csv')
fy15_tn = pd.read_csv('fy15_tn.csv')
fy15_tx = pd.read_csv('fy15_tx.csv')
fy15_ut = pd.read_csv('fy15_ut.csv')
fy15_va = pd.read_csv('fy15_va.csv')
fy15_vt = pd.read_csv('fy15_vt.csv')
fy15_wa = pd.read_csv('fy15_wa.csv')
fy15_wi = pd.read_csv('fy15_wi.csv')
fy15_wv = pd.read_csv('fy15_wv.csv')
fy15_wy = pd.read_csv('fy15_wy.csv')

#fy16
fy16_ak = pd.read_csv('fy16_ak.csv')
fy16_al = pd.read_csv('fy16_al.csv')
fy16_ar = pd.read_csv('fy16_ar.csv')
fy16_az = pd.read_csv('fy16_az.csv')
fy16_ca = pd.read_csv('fy16_ca.csv')
fy16_co = pd.read_csv('fy16_co.csv')
fy16_ct = pd.read_csv('fy16_ct.csv')
fy16_dc = pd.read_csv('fy16_dc.csv')
fy16_de = pd.read_csv('fy16_de.csv')
fy16_fl = pd.read_csv('fy16_fl.csv')
fy16_ga = pd.read_csv('fy16_ga.csv')
fy16_gu = pd.read_csv('fy16_gu.csv')
fy16_hi = pd.read_csv('fy16_hi.csv')
fy16_ia = pd.read_csv('fy16_ia.csv')
fy16_id = pd.read_csv('fy16_id.csv')
fy16_il = pd.read_csv('fy16_il.csv')
fy16_in = pd.read_csv('fy16_in.csv')
fy16_ks = pd.read_csv('fy16_ks.csv')
fy16_ky = pd.read_csv('fy16_ky.csv')
fy16_la = pd.read_csv('fy16_la.csv')
fy16_ma = pd.read_csv('fy16_ma.csv')
fy16_md = pd.read_csv('fy16_md.csv')
fy16_me = pd.read_csv('fy16_me.csv')
fy16_mi = pd.read_csv('fy16_mi.csv')
fy16_mn = pd.read_csv('fy16_mn.csv')
fy16_mo = pd.read_csv('fy16_mo.csv')
fy16_ms = pd.read_csv('fy16_ms.csv')
fy16_mt = pd.read_csv('fy16_mt.csv')
fy16_nc = pd.read_csv('fy16_nc.csv')
fy16_nd = pd.read_csv('fy16_nd.csv')
fy16_ne = pd.read_csv('fy16_ne.csv')
fy16_nh = pd.read_csv('fy16_nh.csv')
fy16_nj = pd.read_csv('fy16_nj.csv')
fy16_nm = pd.read_csv('fy16_nm.csv')
fy16_nv = pd.read_csv('fy16_nv.csv')
fy16_ny = pd.read_csv('fy16_ny.csv')
fy16_oh = pd.read_csv('fy16_oh.csv')
fy16_ok = pd.read_csv('fy16_ok.csv')
fy16_or = pd.read_csv('fy16_or.csv')
fy16_pa = pd.read_csv('fy16_pa.csv')
fy16_pr = pd.read_csv('fy16_pr.csv')
fy16_ri = pd.read_csv('fy16_ri.csv')
fy16_sc = pd.read_csv('fy16_sc.csv')
fy16_sd = pd.read_csv('fy16_sd.csv')
fy16_tn = pd.read_csv('fy16_tn.csv')
fy16_tx = pd.read_csv('fy16_tx.csv')
fy16_ut = pd.read_csv('fy16_ut.csv')
fy16_va = pd.read_csv('fy16_va.csv')
fy16_vt = pd.read_csv('fy16_vt.csv')
fy16_wa = pd.read_csv('fy16_wa.csv')
fy16_wi = pd.read_csv('fy16_wi.csv')
fy16_wv = pd.read_csv('fy16_wv.csv')
fy16_wy = pd.read_csv('fy16_wy.csv')

In [166]:
#Generate lists
FY_14_LIST=[
    fy14_ak,fy14_al,fy14_ar,fy14_az,fy14_ca,fy14_co,fy14_ct,fy14_dc,fy14_de,fy14_fl,fy14_ga,fy14_gu,fy14_hi,fy14_ia,
    fy14_id,fy14_il,fy14_in,fy14_ks,fy14_ky,fy14_la,fy14_ma,fy14_md,fy14_me,fy14_mi,fy14_mn,fy14_mo,fy14_ms,fy14_mt,
    fy14_nc,fy14_nd,fy14_ne,fy14_nh,fy14_nj,fy14_nm,fy14_nv,fy14_ny,fy14_oh,fy14_ok,fy14_or,fy14_pa,fy14_pr,fy14_ri,
    fy14_sc,fy14_sd,fy14_tn,fy14_tx,fy14_ut,fy14_va,fy14_vt,fy14_wa,fy14_wi,fy14_wv,fy14_wy
]
FY_15_LIST=[
    fy15_ak,fy15_al,fy15_ar,fy15_az,fy15_ca,fy15_co,fy15_ct,fy15_dc,fy15_de,fy15_fl,fy15_ga,fy15_gu,fy15_hi,fy15_ia,
    fy15_id,fy15_il,fy15_in,fy15_ks,fy15_ky,fy15_la,fy15_ma,fy15_md,fy15_me,fy15_mi,fy15_mn,fy15_mo,fy15_ms,fy15_mt,
    fy15_nc,fy15_nd,fy15_ne,fy15_nh,fy15_nj,fy15_nm,fy15_nv,fy15_ny,fy15_oh,fy15_ok,fy15_or,fy15_pa,fy15_pr,fy15_ri,
    fy15_sc,fy15_sd,fy15_tn,fy15_tx,fy15_ut,fy15_va,fy15_vt,fy15_wa,fy15_wi,fy15_wv,fy15_wy
]
FY_16_LIST=[
    fy16_ak,fy16_al,fy16_ar,fy16_az,fy16_ca,fy16_co,fy16_ct,fy16_dc,fy16_de,fy16_fl,fy16_ga,fy16_gu,fy16_hi,fy16_ia,
    fy16_id,fy16_il,fy16_in,fy16_ks,fy16_ky,fy16_la,fy16_ma,fy16_md,fy16_me,fy16_mi,fy16_mn,fy16_mo,fy16_ms,fy16_mt,
    fy16_nc,fy16_nd,fy16_ne,fy16_nh,fy16_nj,fy16_nm,fy16_nv,fy16_ny,fy16_oh,fy16_ok,fy16_or,fy16_pa,fy16_pr,fy16_ri,
    fy16_sc,fy16_sd,fy16_tn,fy16_tx,fy16_ut,fy16_va,fy16_vt,fy16_wa,fy16_wi,fy16_wv,fy16_wy 
]
ALL_STATES_YEARS = [fy14_ak,fy14_al,fy14_ar,fy14_az,fy14_ca,fy14_co,fy14_ct,fy14_dc,fy14_de,fy14_fl,fy14_ga,fy14_hi,fy14_ia,
    fy14_id,fy14_il,fy14_in,fy14_ks,fy14_ky,fy14_la,fy14_ma,fy14_md,fy14_me,fy14_mi,fy14_mn,fy14_mo,fy14_ms,fy14_mt,
    fy14_nc,fy14_nd,fy14_ne,fy14_nh,fy14_nj,fy14_nm,fy14_nv,fy14_ny,fy14_oh,fy14_ok,fy14_or,fy14_pa,fy14_ri,
    fy14_sc,fy14_sd,fy14_tn,fy14_tx,fy14_ut,fy14_va,fy14_vt,fy14_wa,fy14_wi,fy14_wv,fy14_wy,fy15_ak,fy15_al,fy15_ar,
    fy15_az,fy15_ca,fy15_co,fy15_ct,fy15_dc,fy15_de,fy15_fl,fy15_ga,fy15_hi,fy15_ia,
    fy15_id,fy15_il,fy15_in,fy15_ks,fy15_ky,fy15_la,fy15_ma,fy15_md,fy15_me,fy15_mi,fy15_mn,fy15_mo,fy15_ms,fy15_mt,
    fy15_nc,fy15_nd,fy15_ne,fy15_nh,fy15_nj,fy15_nm,fy15_nv,fy15_ny,fy15_oh,fy15_ok,fy15_or,fy15_pa,fy15_ri,
    fy15_sc,fy15_sd,fy15_tn,fy15_tx,fy15_ut,fy15_va,fy15_vt,fy15_wa,fy15_wi,fy15_wv,fy15_wy,fy16_ak,fy16_al,fy16_ar,fy16_az,fy16_ca,fy16_co,fy16_ct,fy16_dc,fy16_de,fy16_fl,fy16_ga,fy16_hi,fy16_ia,
    fy16_id,fy16_il,fy16_in,fy16_ks,fy16_ky,fy16_la,fy16_ma,fy16_md,fy16_me,fy16_mi,fy16_mn,fy16_mo,fy16_ms,fy16_mt,
    fy16_nc,fy16_nd,fy16_ne,fy16_nh,fy16_nj,fy16_nm,fy16_nv,fy16_ny,fy16_oh,fy16_ok,fy16_or,fy16_pa,fy16_ri,
    fy16_sc,fy16_sd,fy16_tn,fy16_tx,fy16_ut,fy16_va,fy16_vt,fy16_wa,fy16_wi,fy16_wv,fy16_wy]

In [47]:
df = pd.read_excel('VET01.xls',sheetname=None)
#vet01a = df['VET01A']
keys = df.keys()
keys

odict_keys(['VET01A', 'VET01B', 'VET01C', 'VET01D'])

In [48]:
#create dataframes for pages
#co.OrderedDict(sorted(df.items(), key=lambda t: t[0]))
vet01a = df['VET01A'] # VET010180D - VET320200D (Veterans - total 1980 (sample) - Veterans - females 2000 (sample))
vet01b = df['VET01B'] # VET415200D - VET510180D (Veterans by age - total, 18-64 years 2000 (sample) - Nonveterans - total 1980 (sample))
vet01c = df['VET01C'] # VET510190D - VET635209D (Nonveterans - total 1990 (sample) - Veterans by age - males, 75 years and over 2005-2009)
vet01d = df['VET01D'] # VET640209D - VET670209D (Female veterans - percent 2005-2009 - Nonveterans - total 2005-2009)

In [157]:
for item in ALL_STATES_YEARS:
    print(item.iloc[1,1:5])
    #item.iloc[:,4] = item.iloc[:,4].astype(float)

State                                         AK
County/ Congressional District    ALEUTIANS WEST
Veteran Population*                          348
Total Expenditure                          $324
Name: 1, dtype: object
State                                   AL
County/ Congressional District     BALDWIN
Veteran Population*                 20,083
Total Expenditure                 $98,756
Name: 1, dtype: object
State                                   AR
County/ Congressional District      ASHLEY
Veteran Population*                  1,682
Total Expenditure                 $12,529
Name: 1, dtype: object
State                                    AZ
County/ Congressional District      COCHISE
Veteran Population*                  22,805
Total Expenditure                 $180,559
Name: 1, dtype: object
State                                 CA
County/ Congressional District    ALPINE
Veteran Population*                  127
Total Expenditure                  $392
Name: 1, dtype: object
State                                  CO
County/ Congressional District    ALAMOSA
Veteran Population*                 1,095
Total Expenditure                 $8,522
Name: 1, dtype: object
State                                    CT
County/ Congressional District     HARTFORD
Veteran Population*                  53,705
Total Expenditure                 $281,182
Name: 1, dtype: object
State                                      DC
County/ Congressional District    DC (Totals)
Veteran Population*                    29,825
Total Expenditure                 $2,703,410
Name: 1, dtype: object
State                                     DE
County/ Congressional District    NEW CASTLE
Veteran Population*                   35,908
Total Expenditure                  $207,036
Name: 1, dtype: object
State                                   FL
County/ Congressional District       BAKER
Veteran Population*                  2,756
Total Expenditure                 $14,958
Name: 1, dtype: object
State                                   GA
County/ Congressional District    ATKINSON
Veteran Population*                    427
Total Expenditure                  $3,577
Name: 1, dtype: object
State                                    HI
County/ Congressional District     HONOLULU
Veteran Population*                  87,891
Total Expenditure                 $635,941
Name: 1, dtype: object
State                                  IA
County/ Congressional District      ADAMS
Veteran Population*                   381
Total Expenditure                 $1,817
Name: 1, dtype: object
State                                  ID
County/ Congressional District      ADAMS
Veteran Population*                   465
Total Expenditure                 $2,814
Name: 1, dtype: object
State                                    IL
County/ Congressional District    ALEXANDER
Veteran Population*                     669
Total Expenditure                   $6,643
Name: 1, dtype: object
State                                    IN
County/ Congressional District        ALLEN
Veteran Population*                  23,647
Total Expenditure                 $145,011
Name: 1, dtype: object
State                                   KS
County/ Congressional District    ANDERSON
Veteran Population*                    662
Total Expenditure                  $3,001
Name: 1, dtype: object
State                                  KY
County/ Congressional District      ALLEN
Veteran Population*                 1,432
Total Expenditure                 $8,526
Name: 1, dtype: object
State                                   LA
County/ Congressional District       ALLEN
Veteran Population*                  1,880
Total Expenditure                 $12,422
Name: 1, dtype: object
State                                    MA
County/ Congressional District    BERKSHIRE
Veteran Population*                  11,467
Total Expenditure                  $55,097
Name: 1, dtype: object
State                                       MD
County/ Congressional District    ANNE ARUNDEL
Veteran Population*                     54,671
Total Expenditure                    $303,191
Name: 1, dtype: object
State                                    ME
County/ Congressional District    AROOSTOOK
Veteran Population*                   7,480
Total Expenditure                  $63,123
Name: 1, dtype: object
State                                  MI
County/ Congressional District      ALGER
Veteran Population*                   922
Total Expenditure                 $8,020
Name: 1, dtype: object
State                                    MN
County/ Congressional District        ANOKA
Veteran Population*                  23,368
Total Expenditure                 $144,032
Name: 1, dtype: object
State                                  MO
County/ Congressional District     ANDREW
Veteran Population*                 1,404
Total Expenditure                 $6,300
Name: 1, dtype: object
State                                   MS
County/ Congressional District      ALCORN
Veteran Population*                  2,239
Total Expenditure                 $17,323
Name: 1, dtype: object
State                                   MT
County/ Congressional District    BIG HORN
Veteran Population*                    882
Total Expenditure                  $5,721
Name: 1, dtype: object
State                                    NC
County/ Congressional District    ALEXANDER
Veteran Population*                   2,805
Total Expenditure                  $18,561
Name: 1, dtype: object
State                                  ND
County/ Congressional District     BARNES
Veteran Population*                   945
Total Expenditure                 $6,644
Name: 1, dtype: object
State                                   NE
County/ Congressional District    ANTELOPE
Veteran Population*                    603
Total Expenditure                  $5,160
Name: 1, dtype: object
State                                   NH
County/ Congressional District     CARROLL
Veteran Population*                  5,548
Total Expenditure                 $27,177
Name: 1, dtype: object
State                                    NJ
County/ Congressional District       BERGEN
Veteran Population*                  34,121
Total Expenditure                 $146,146
Name: 1, dtype: object
State                                  NM
County/ Congressional District     CATRON
Veteran Population*                   484
Total Expenditure                 $4,283
Name: 1, dtype: object
State                                      NV
County/ Congressional District          CLARK
Veteran Population*                   153,392
Total Expenditure                 $1,174,366
Name: 1, dtype: object
State                                   NY
County/ Congressional District    ALLEGANY
Veteran Population*                  4,153
Total Expenditure                 $31,400
Name: 1, dtype: object
State                                   OH
County/ Congressional District       ALLEN
Veteran Population*                  8,313
Total Expenditure                 $39,066
Name: 1, dtype: object
State                                  OK
County/ Congressional District    ALFALFA
Veteran Population*                   819
Total Expenditure                 $1,987
Name: 1, dtype: object
State                                   OR
County/ Congressional District      BENTON
Veteran Population*                  6,109
Total Expenditure                 $29,175
Name: 1, dtype: object
State                                    PA
County/ Congressional District    ALLEGHENY
Veteran Population*                  91,146
Total Expenditure                 $615,209
Name: 1, dtype: object
State                                   RI
County/ Congressional District        KENT
Veteran Population*                 14,314
Total Expenditure                 $95,904
Name: 1, dtype: object
State                                    SC
County/ Congressional District        AIKEN
Veteran Population*                  15,503
Total Expenditure                 $109,791
Name: 1, dtype: object
State                                  SD
County/ Congressional District     BEADLE
Veteran Population*                 1,605
Total Expenditure                 $7,423
Name: 1, dtype: object
State                                   TN
County/ Congressional District     BEDFORD
Veteran Population*                  3,249
Total Expenditure                 $24,576
Name: 1, dtype: object
State                                  TX
County/ Congressional District    ANDREWS
Veteran Population*                   811
Total Expenditure                 $2,866
Name: 1, dtype: object
State                                    UT
County/ Congressional District    BOX ELDER
Veteran Population*                   2,919
Total Expenditure                  $13,676
Name: 1, dtype: object
State                                    VA
County/ Congressional District    ALBEMARLE
Veteran Population*                   7,233
Total Expenditure                  $24,568
Name: 1, dtype: object
State                                     VT
County/ Congressional District    BENNINGTON
Veteran Population*                    3,527
Total Expenditure                   $18,533
Name: 1, dtype: object
State                                   WA
County/ Congressional District      ASOTIN
Veteran Population*                  2,333
Total Expenditure                 $12,202
Name: 1, dtype: object
State                                  WI
County/ Congressional District    ASHLAND
Veteran Population*                 1,312
Total Expenditure                 $8,281
Name: 1, dtype: object
State                                    WV
County/ Congressional District     BERKELEY
Veteran Population*                  11,989
Total Expenditure                 $450,684
Name: 1, dtype: object
State                                   WY
County/ Congressional District    BIG HORN
Veteran Population*                    988
Total Expenditure                  $5,458
Name: 1, dtype: object
State                                         AK
County/ Congressional District    ALEUTIANS WEST
Veteran Population*                          343
Total Expenditure                          $220
Name: 1, dtype: object
State                                    AL
County/ Congressional District      BALDWIN
Veteran Population*                  20,173
Total Expenditure                 $103,195
Name: 1, dtype: object
State                                   AR
County/ Congressional District      ASHLEY
Veteran Population*                  1,649
Total Expenditure                 $11,925
Name: 1, dtype: object
State                                    AZ
County/ Congressional District      COCHISE
Veteran Population*                  23,258
Total Expenditure                 $181,863
Name: 1, dtype: object
State                                 CA
County/ Congressional District    ALPINE
Veteran Population*                  129
Total Expenditure                  $295
Name: 1, dtype: object
State                                  CO
County/ Congressional District    ALAMOSA
Veteran Population*                 1,081
Total Expenditure                 $8,660
Name: 1, dtype: object
State                                    CT
County/ Congressional District     HARTFORD
Veteran Population*                  52,078
Total Expenditure                 $294,534
Name: 1, dtype: object
State                                      DC
County/ Congressional District    DC (Totals)
Veteran Population*                    29,470
Total Expenditure                 $2,960,157
Name: 1, dtype: object
State                                     DE
County/ Congressional District    NEW CASTLE
Veteran Population*                   34,992
Total Expenditure                  $223,429
Name: 1, dtype: object
State                                   FL
County/ Congressional District       BAKER
Veteran Population*                  2,786
Total Expenditure                 $15,094
Name: 1, dtype: object
State                                   GA
County/ Congressional District    ATKINSON
Veteran Population*                    421
Total Expenditure                  $3,703
Name: 1, dtype: object
State                                    HI
County/ Congressional District     HONOLULU
Veteran Population*                  87,658
Total Expenditure                 $676,174
Name: 1, dtype: object
State                                  IA
County/ Congressional District      ADAMS
Veteran Population*                   371
Total Expenditure                 $2,292
Name: 1, dtype: object
State                                  ID
County/ Congressional District      ADAMS
Veteran Population*                   468
Total Expenditure                 $2,991
Name: 1, dtype: object
State                                    IL
County/ Congressional District    ALEXANDER
Veteran Population*                     660
Total Expenditure                   $7,072
Name: 1, dtype: object
State                                    IN
County/ Congressional District        ALLEN
Veteran Population*                  23,236
Total Expenditure                 $154,023
Name: 1, dtype: object
State                                   KS
County/ Congressional District    ANDERSON
Veteran Population*                    659
Total Expenditure                  $2,918
Name: 1, dtype: object
State                                  KY
County/ Congressional District      ALLEN
Veteran Population*                 1,419
Total Expenditure                 $8,983
Name: 1, dtype: object
State                                   LA
County/ Congressional District       ALLEN
Veteran Population*                  1,859
Total Expenditure                 $12,421
Name: 1, dtype: object
State                                    MA
County/ Congressional District    BERKSHIRE
Veteran Population*                  11,141
Total Expenditure                  $57,364
Name: 1, dtype: object
State                                       MD
County/ Congressional District    ANNE ARUNDEL
Veteran Population*                     54,119
Total Expenditure                    $314,741
Name: 1, dtype: object
State                                    ME
County/ Congressional District    AROOSTOOK
Veteran Population*                   7,381
Total Expenditure                  $61,481
Name: 1, dtype: object
State                                  MI
County/ Congressional District      ALGER
Veteran Population*                   902
Total Expenditure                 $7,807
Name: 1, dtype: object
State                                    MN
County/ Congressional District        ANOKA
Veteran Population*                  22,975
Total Expenditure                 $150,558
Name: 1, dtype: object
State                                  MO
County/ Congressional District     ANDREW
Veteran Population*                 1,394
Total Expenditure                 $6,632
Name: 1, dtype: object
State                                   MS
County/ Congressional District      ALCORN
Veteran Population*                  2,224
Total Expenditure                 $16,617
Name: 1, dtype: object
State                                   MT
County/ Congressional District    BIG HORN
Veteran Population*                    879
Total Expenditure                  $5,839
Name: 1, dtype: object
State                                    NC
County/ Congressional District    ALEXANDER
Veteran Population*                   2,779
Total Expenditure                  $18,875
Name: 1, dtype: object
State                                  ND
County/ Congressional District     BARNES
Veteran Population*                   927
Total Expenditure                 $6,795
Name: 1, dtype: object
State                                   NE
County/ Congressional District    ANTELOPE
Veteran Population*                    588
Total Expenditure                  $5,187
Name: 1, dtype: object
State                                   NH
County/ Congressional District     CARROLL
Veteran Population*                  5,416
Total Expenditure                 $27,437
Name: 1, dtype: object
State                                    NJ
County/ Congressional District       BERGEN
Veteran Population*                  32,246
Total Expenditure                 $148,294
Name: 1, dtype: object
State                                  NM
County/ Congressional District     CATRON
Veteran Population*                   474
Total Expenditure                 $4,320
Name: 1, dtype: object
State                                      NV
County/ Congressional District          CLARK
Veteran Population*                   151,169
Total Expenditure                 $1,249,043
Name: 1, dtype: object
State                                   NY
County/ Congressional District    ALLEGANY
Veteran Population*                  4,091
Total Expenditure                 $32,920
Name: 1, dtype: object
State                                   OH
County/ Congressional District       ALLEN
Veteran Population*                  8,128
Total Expenditure                 $41,426
Name: 1, dtype: object
State                                  OK
County/ Congressional District    ALFALFA
Veteran Population*                   821
Total Expenditure                 $1,706
Name: 1, dtype: object
State                                   OR
County/ Congressional District      BENTON
Veteran Population*                  5,960
Total Expenditure                 $31,899
Name: 1, dtype: object
State                                    PA
County/ Congressional District    ALLEGHENY
Veteran Population*                  87,965
Total Expenditure                 $627,764
Name: 1, dtype: object
State                                    RI
County/ Congressional District         KENT
Veteran Population*                  13,968
Total Expenditure                 $100,467
Name: 1, dtype: object
State                                    SC
County/ Congressional District        AIKEN
Veteran Population*                  15,442
Total Expenditure                 $113,750
Name: 1, dtype: object
State                                  SD
County/ Congressional District     BEADLE
Veteran Population*                 1,588
Total Expenditure                 $6,906
Name: 1, dtype: object
State                                   TN
County/ Congressional District     BEDFORD
Veteran Population*                  3,249
Total Expenditure                 $23,973
Name: 1, dtype: object
State                                  TX
County/ Congressional District    ANDREWS
Veteran Population*                   810
Total Expenditure                 $3,293
Name: 1, dtype: object
State                                    UT
County/ Congressional District    BOX ELDER
Veteran Population*                   2,888
Total Expenditure                  $15,643
Name: 1, dtype: object
State                                    VA
County/ Congressional District    ALBEMARLE
Veteran Population*                   7,153
Total Expenditure                  $24,990
Name: 1, dtype: object
State                                     VT
County/ Congressional District    BENNINGTON
Veteran Population*                    3,432
Total Expenditure                   $20,938
Name: 1, dtype: object
State                                   WA
County/ Congressional District      ASOTIN
Veteran Population*                  2,314
Total Expenditure                 $12,626
Name: 1, dtype: object
State                                  WI
County/ Congressional District    ASHLAND
Veteran Population*                 1,288
Total Expenditure                 $8,429
Name: 1, dtype: object
State                                    WV
County/ Congressional District     BERKELEY
Veteran Population*                  12,183
Total Expenditure                 $496,454
Name: 1, dtype: object
State                                   WY
County/ Congressional District    BIG HORN
Veteran Population*                    970
Total Expenditure                  $5,554
Name: 1, dtype: object

Name: 1, dtype: object
State                                   NE
County/ Congressional District    ANTELOPE
Veteran Population*                    538
Total Expenditure                  $4,538
Name: 1, dtype: object
State                                   NH
County/ Congressional District     CARROLL
Veteran Population*                  4,729
Total Expenditure                 $28,310
Name: 1, dtype: object
State                                    NJ
County/ Congressional District       BERGEN
Veteran Population*                  29,500
Total Expenditure                 $156,308
Name: 1, dtype: object
State                                  NM
County/ Congressional District     CATRON
Veteran Population*                   339
Total Expenditure                 $4,779
Name: 1, dtype: object
State                                      NV
County/ Congressional District          CLARK
Veteran Population*                   151,579
Total Expenditure                 $1,320,334
Name: 1, dtype: object
State                                   NY
County/ Congressional District    ALLEGANY
Veteran Population*                  4,017
Total Expenditure                 $34,998
Name: 1, dtype: object
State                                   OH
County/ Congressional District       ALLEN
Veteran Population*                  7,218
Total Expenditure                 $41,135
Name: 1, dtype: object
State                                  OK
County/ Congressional District    ALFALFA
Veteran Population*                   471
Total Expenditure                 $1,874
Name: 1, dtype: object
State                                   OR
County/ Congressional District      BENTON
Veteran Population*                  5,792
Total Expenditure                 $34,292
Name: 1, dtype: object
State                                    PA
County/ Congressional District    ALLEGHENY
Veteran Population*                  84,170
Total Expenditure                 $619,684
Name: 1, dtype: object
State                                    RI
County/ Congressional District         KENT
Veteran Population*                  12,805
Total Expenditure                 $102,183
Name: 1, dtype: object
State                                    SC
County/ Congressional District        AIKEN
Veteran Population*                  13,991
Total Expenditure                 $117,396
Name: 1, dtype: object
State                                  SD
County/ Congressional District     BEADLE
Veteran Population*                 1,160
Total Expenditure                 $6,864
Name: 1, dtype: object
State                                   TN
County/ Congressional District     BEDFORD
Veteran Population*                  3,091
Total Expenditure                 $25,235
Name: 1, dtype: object
State                                  TX
County/ Congressional District    ANDREWS
Veteran Population*                   686
Total Expenditure                 $3,321
Name: 1, dtype: object
State                                    UT
County/ Congressional District    BOX ELDER
Veteran Population*                   2,636
Total Expenditure                  $16,769
Name: 1, dtype: object
State                                    VA
County/ Congressional District    ALBEMARLE
Veteran Population*                   7,875
Total Expenditure                  $28,708
Name: 1, dtype: object
State                                     VT
County/ Congressional District    BENNINGTON
Veteran Population*                    2,939
Total Expenditure                   $20,960
Name: 1, dtype: object
State                                   WA
County/ Congressional District      ASOTIN
Veteran Population*                  2,343
Total Expenditure                 $12,598
Name: 1, dtype: object
State                                  WI
County/ Congressional District    ASHLAND
Veteran Population*                 1,348
Total Expenditure                 $8,196
Name: 1, dtype: object
State                                    WV
County/ Congressional District     BERKELEY
Veteran Population*                  10,664
Total Expenditure                 $526,888
Name: 1, dtype: object
State                                   WY
County/ Congressional District    BIG HORN
Veteran Population*                    900
Total Expenditure                  $5,399
Name: 1, dtype: object

In [11]:
# If you need to index by the "total" column
FY_14_LIST[3]["Veteran Population*"].describe()

count          26
unique         25
top       532,206
freq            2
Name: Veteran Population*, dtype: object

In [12]:
len(ALL_YEARS)

159

In [158]:
counter=0

In [161]:
for item in ALL_STATES_YEARS:
    counter += 1
    print(counter)
    item.iloc[:,4] = item.iloc[:,4].apply(
            lambda gstr: float(gstr.replace(",","").replace("$","")))

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43

AttributeError: 'float' object has no attribute 'replace'

In [170]:
ALL_STATES_YEARS[43].iloc[:,4].describe()

count              292
unique             290
top       $15,394,005
freq                 2
Name: Total Expenditure, dtype: object

In [105]:
def cleanString(alldatalist,columnIndex=4): #columnIndex = 4 is Total Expenditure 
    counter = 0
    for item in alldatalist: #len = 159 
        # drop nan
        item = item.dropna(subset=["State"])
        # remove '$' and ',', convert to float
        item.iloc[:,columnIndex] = item.iloc[:,columnIndex].apply(
            lambda gstr: float(gstr.replace(",","").replace("$","")))
        counter += 1
        print(counter)
        
        #return

In [106]:
cleanString(ALL_YEARS)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43

/Users/kair/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65

AttributeError: 'float' object has no attribute 'replace'

In [110]:
ALL_YEARS[43]

,Year,State,County/ Congressional District,Veteran Population*,Total Expenditure,Compensation & Pension,Construction,Education & Vocational Rehabilitation/ Employment,Loan Guaranty#,General Operating Expenses,Insurance & Indemnities,Medical Care,Unique Patients**
0,14.0,SD,AURORA,261,"$1,605",$897,$-,$34,$-,$-,$2,$672,95
1,14.0,SD,BEADLE,"1,605","$7,423","$3,154",$-,$141,$-,$-,$18,"$4,110",454
2,14.0,SD,BENNETT,172,"$1,816",$648,$-,$9,$-,$-,$31,"$1,127",99
3,14.0,SD,BON HOMME,735,"$4,383","$1,477",$-,$115,$-,$-,$1,"$2,790",268
4,14.0,SD,BROOKINGS,"2,043","$11,515","$4,546",$-,"$1,349",$-,$-,$197,"$5,423",643
5,14.0,SD,BROWN,"2,679","$17,125","$7,613",$-,$824,$-,$-,$276,"$8,412","1,298"
6,14.0,SD,BRULE,444,"$1,714",$802,$-,$56,$-,$-,$112,$743,130
7,14.0,SD,BUFFALO,140,"$1,406",$581,$-,$32,$-,$-,$6,$788,38
8,14.0,SD,BUTTE,943,"$12,541","$4,244",$-,$242,$-,$-,$62,"$7,993",495
9,14.0,SD,CAMPBELL,114,$634,$400,$-,$4,$-,$-,$1,$230,59
10,14.0,SD,CHARLES MIX,796,"$4,771","$1,887",$-,$129,$-,$-,$17,"$2,738",262
11,14.0,SD,CLARK,274,"$1,654",$893,$-,$18,$-,$-,$6,$738,116
12,14.0,SD,CLAY,994,"$6,087","$2,473",$-,"$1,074",$-,$-,$10,"$2,530",296
13,14.0,SD,CODINGTON,"2,152","$12,109","$5,568",$-,$651,$-,$-,$215,"$5,675",863
14,14.0,SD,CORSON,289,"$2,588","$1,151",$-,$21,$-,$-,$6,"$1,411",138
15,14.0,SD,CUSTER,950,"$12,196","$3,805",$-,$232,$-,$-,$265,"$7,893",538
16,14.0,SD,DAVISON,"1,510","$8,660","$3,837",$-,$842,$-,$-,$30,"$3,951",475
17,14.0,SD,DAY,582,"$3,689","$1,789",$-,$77,$-,$-,$76,"$1,748",262
18,14.0,SD,DEUEL,477,"$2,232","$1,069",$-,$113,$-,$-,$10,"$1,039",145
19,14.0,SD,DEWEY,446,"$5,069","$1,522",$-,$35,$-,$-,$60,"$3,452",210
20,14.0,SD,DOUGLAS,326,"$1,468",$634,$-,$22,$-,$-,$63,$749,97
21,14.0,SD,EDMUNDS,302,"$1,418",$564,$-,$105,$-,$-,$5,$744,161
22,14.0,SD,FALL RIVER,"1,042","$34,426","$9,066",$-,$261,$-,$571,$88,"$24,440",963
23,14.0,SD,FAULK,213,"$1,170",$328,$-,$3,$-,$-,$56,$783,97
24,14.0,SD,GRANT,742,"$4,354","$2,054",$-,$79,$-,$-,$66,"$2,156",261
25,14.0,SD,GREGORY,400,"$2,808","$1,268",$-,$37,$-,$-,$10,"$1,494",177
26,14.0,SD,HAAKON,148,"$1,036",$247,$-,$78,$-,$-,$0,$711,72
27,14.0,SD,HAMLIN,437,"$3,039","$1,205",$-,$29,$-,$-,$9,"$1,796",184
28,14.0,SD,HAND,321,"$1,776",$682,$-,$39,$-,$-,$39,"$1,016",137
29,14.0,SD,HANSON,289,"$2,095","$1,140",$-,$110,$-,$-,$45,$799,127
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,14.0,SD,LYMAN,313,"$1,635",$668,$-,$28,$-,$-,$1,$938,105
42,14.0,SD,MCCOOK,469,"$3,951","$1,154",$-,$176,$-,$-,$81,"$2,540",192
43,14.0,SD,MCPHERSON,250,"$1,292",$570,$-,$51,$-,$-,$3,$668,121
44,14.0,SD,MARSHALL,389,"$1,892",$743,$-,$42,$-,$-,$6,"$1,101",156
45,14.0,SD,MEADE,"3,369","$48,128","$13,355",$358,"$1,668",$-,"$3,693",$99,"$28,955","1,568"
46,14.0,SD,MELLETTE,139,$959,$302,$-,$36,$-,$-,$3,$618,55
47,14.0,SD,MINER,269,"$1,096",$484,$-,$17,$-,$-,$107,$488,63
48,14.0,SD,MINNEHAHA,"14,023","$123,005","$45,251","$3,173","$5,832",$-,"$7,329","$1,141","$60,279","4,940"
49,14.0,SD,MOODY,665,"$2,773","$1,232",$-,$87,$-,$-,$14,"$1,440",163
50,14.0,SD,PENNINGTON,"11,641","$124,446","$54,271",$-,"$10,908",$-,$-,$890,"$58,376","5,659"
51,14.0,SD,PERKINS,261,"$2,115",$734,$-,$64,$-,$-,$1,"$1,316",139
52,14.0,SD,POTTER,235,"$1,468",$681,$-,$19,$-,$-,$1,$767,125
53,14.0,SD,ROBERTS,730,"$6,421","$3,307",$-,$216,$-,$-,$18,"$2,879",363
54,14.0,SD,SANBORN,289,"$1,028",$511,$-,$59,$-,$-,$15,$444,73
55,14.0,SD,SHANNON,675,"$10,450","$3,869",$-,$263,$-,$-,$20,"$6,298",343
56,14.0,SD,SPINK,683,"$3,115","$1,546",$-,$72,$-,$-,$74,"$1,424",247
57,14.0,SD,STANLEY,199,"$1,520",$579,$-,$38,$-,$-,$31,$872,129
58,14.0,SD,SULLY,112,$398,$121,$-,$5,$-,$-,$2,$271,53
59,14.0,SD,TODD,564,"$4,564","$1,617",$-,$92,$-,$-,$9,"$2,846",174
60,14.0,SD,TRIPP,460,"$3,999","$1,279",$-,$55,$-,$-,$84,"$2,581",271
61,14.0,SD,TURNER,772,"$5,472","$2,185",$-,$221,$-,$-,$91,"$2,974",270
62,14.0,SD,UNION,"1,107","$7,494","$3,386",$-,$488,$-,$-,$45,"$3,575",388
63,14.0,SD,WALWORTH,513,"$3,634","$1,382",$-,$111,$-,$-,$5,"$2,137",276
64,14.0,SD,YANKTON,"2,013","$10,049","$4,527",$-,$500,$-,$-,$394,"$4,628",519
65,14.0,SD,ZIEBACH,181,$653,$268,$-,$2,$-,$-,$-,$383,39
66,14.0,SD,SOUTH DAKOTA (Totals),"72,030","$619,864","$238,175","$3,531","$31,787",$-,"$11,593","$6,103","$328,675","29,827"
67,14.0,SD,CONG. DIST (01),"72,030","$619,864","$238,175","$3,531","$31,787",$-,"$11,593","$6,103","$328,675","29,827"
68,14.0,SD,SOUTH DAKOTA (Totals),"72,030","$619,864","$238,175","$3,531","$31,787",$-,"$11,593","$6,103","$328,675","29,827"
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
fy14_gu[2:4]

,Year,State,County/ Congressional District,Veteran Population*,Total Expenditure,Compensation & Pension,Construction,Education & Vocational Rehabilitation/ Employment,Loan Guaranty#,General Operating Expenses,Insurance & Indemnities,Medical Care,Unique Patients**,Unnamed: 13
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
listLength = len(FY_16_LIST)
listLength

53

In [221]:
# get fy summary stats for mean, median over 3 years
def get_stats(fydata14,fydata15,fydata16, columnCode):
    new_df[columnCode] = fydata14[1][columnCode].copy() # just copying dataframe
    for i in range(len(fydata14)): #len = 53 with FY_14_LIST
        new_df[columnCode] += (float(fy15data[i]) + fy16data[i])
    
            
    return new_df